<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- import element-ui CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- import Vue before Element -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <!-- import element-ui JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- <el-button @click="() => tableToExcel()">导出</button> -->

    <h1>dependencies</h1>
    <el-table
      ref="table1Ref"
      :data="sourceData.data"
      style="width: 100%">
      <el-table-column
        prop="name"
        label="name"
        key="name"
        width="100"
        >
      </el-table-column>
      <el-table-column
        v-for="v in sourceData.columns"
        width="200"
        :prop="v"
        :label="v"
        :key="v"
        >
      </el-table-column>
    </el-table>
    <h1>devDependencies</h1>
    <el-table
      :data="sourceData.devData"
      style="width: 100%">
      <el-table-column
        prop="name"
        label="name"
        key="name"
        width="100"
        >
      </el-table-column>
      <el-table-column
        v-for="v in sourceData.devColumns"
        width="200"
        :prop="v"
        :label="v"
        :key="v"
        >
      </el-table-column>
    </el-table>
    <el-row>
      <el-col
      v-for="v in sourceData.devColumns"
        :key="v"
      >
      {{v}}
      </el-col>
    </el-row>
  </div>
</body>
<script>
  new Vue({
        // 控制的标签容器
        el: '#app',
        // 交互的数据
        data: function () {
            return {sourceData: {}}
        },
        mounted() {
          fetch('http://127.0.0.1:8999/data').then((response) => response.json()).then(data => {
            this.sourceData = data
          })
        },
        // 方法
        methods: {
          tableToExcel() {
            console.log(this.$refs.table1Ref.$el)
          },
          // tableToExcel(jsonData, head, worksheet){
          //     //要导出的json数据
              
          //     //列标题
          //     let head = '';
          //     // `<tr><td>姓名</td><td>电话</td><td>邮箱</td></tr>`
          //     for(let key of head){
          //       head+=`<td>${key}</td>`
          //     }
          //     head = `<tr>${head}</tr>`
          //     let tbody="";//内容
          //     for (let item of jsonData) {
                
          //       tbody+=
          //       `<tr>
          //           <td>${jsonData[item].name + '\t'}</td>
          //           <td>${jsonData[item].phone + '\t'}</td>
          //           <td>${jsonData[item].email + '\t'}</td>
          //       </tr>`
          //     }
          //     let str = head+tbody;//头部跟身体内容连接
            
            
          //     //Worksheet名
          //     // let worksheet = 'Sheet1'
          //     let uri = 'data:application/vnd.ms-excel;base64,';
          
          //     //下载的表格模板数据
          //     let template = `<html xmlns:o="urn:schemas-microsoft-com:office:office" 
          //     xmlns:x="urn:schemas-microsoft-com:office:excel" 
          //     xmlns="http://www.w3.org/TR/REC-html40">
          //     <head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet>
          //       <x:Name>${worksheet}</x:Name>
          //       <x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet>
          //       </x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]-->
          //       </head><body><table>${str}</table></body></html>`;
          //     //下载模板
          //     window.location.href = uri + base64(template)
          // }
          //输出base64编码
          base64 (s) { 
            return window.btoa(unescape(encodeURIComponent(s))) 
          }
        }
    })

  
</script>
</html>